SECRET_KEY=django-insecure-changez-cette-cle-en-production
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Production PostgreSQL (décommenter pour prod)
# DATABASE_URL=postgresql://user:password@host:5432/dbname
